{% extends "base.html" %}

{% load tailwind_filters %}

{% block title %}Create recipe | Tasty{% endblock title %}

{% block content %}
    <div class="flex mb-16 items-center justify-center min-h-screen bg-gray-100">
        <form
            action="{% url "recipe:create-recipe" %}"
            method="post" enctype="multipart/form-data"
            class="space-y-8 divide-y divide-gray-200"
        >
            {% csrf_token %}

            {{ recipe_form.as_p }}

            <h2>Ingredients</h2>

            {{ formset.management_form }}

            <div id="ingredient-form-list">
                {% for form in formset %}
                    <div class="ingredient-form">
                        {{ form|crispy }}
                    </div>
                {% endfor %}
            </div>

            <div id="empty-form"
                 class="hidden"
            >
                    {{ formset.empty_form }}
            </div>

            <div class="mb-10">
                <button type="button"
                        id="add-more-ingredient"
                        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >Add ingredients
                </button>
            </div>

            <button
                    type="submit"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >Create
            </button>
        </form>
    </div>

    <script type="text/javascript">
        const addMoreIngredientButton = document.getElementById("add-more-ingredient");

        const totalNewForms = document.getElementById("id_form-TOTAL_FORMS");

        addMoreIngredientButton.addEventListener("click", (event) => {
          if (event) {
            event.preventDefault();
          }
          const currentIngredientForms =
            document.getElementsByClassName("ingredient-form");

          let currentFormCount = currentIngredientForms.length;

          const copyEmptyIngredientFormElement = document
            .getElementById("empty-form")
            .cloneNode(true);

          copyEmptyIngredientFormElement.setAttribute("class", "ingredient-form mb-6");
          copyEmptyIngredientFormElement.setAttribute("id", `form-${currentFormCount}`);

          const regex = new RegExp("__prefix__", "g");

          const formCopyTarget = document.getElementById("ingredient-form-list");
          copyEmptyIngredientFormElement.innerHTML =
            copyEmptyIngredientFormElement.innerHTML.replace(regex, currentFormCount);

          totalNewForms.setAttribute("value", currentFormCount + 1);

          formCopyTarget.append(copyEmptyIngredientFormElement);
        });

    </script>
{% endblock content %}