{% extends "base.html" %}
{% load recipe_tags %}

{% block title %}{{ object.title}} | Tasty{% endblock title %}

{% block content %}
<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
          >{{ recipe.title }}</span
        >
      </h1>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <figure>
        <img
          class="w-full rounded-lg"
          src="{{ recipe.image.url }}"
          alt="{{ recipe.title }}"
          width="1310"
          height="873"
        />
      </figure>

      {% include "partials/recipe-stats.html" with recipe=recipe %}

      <h2>
          Ingredients for <br/>
          {{ recipe.servings }} servings
      </h2>
      <h3></h3>

      {% for ingredient in recipe.recipe_ingredients.all %}
        {% include "partials/ingredients-list.html" with ingredient=ingredient%}
      {% endfor %}

      {% include 'partials/recipe-instructions.html' with recipe=recipe %}
    </div>
  </div>
</div>
{% endblock content %}
